<!DOCTYPE html>
<html>
<head>
    <title>BOOM</title>
</head>
<body>
<section>

    <article class="four columns">
        <p>Brambles and Bourbon.<br/>
        Three minutes till the world burns,<br/>
        Seventeen till the trial collapses, <br/>
        Nine till the victors return.</p>
    </article>


    <article class="tweleve columns">
        <%= image_tag "/assets/illustrations/brimstone.jpg"%>
    </article>

</section>
</body>
</html>
