<!DOCTYPE html>
<html>
<head>
    <title>BOOM</title>
</head>
<body>
<section>

    <article>
        <p>Brambles and Bourbon.<br/>
        Three minutes till the world burns,<br/>
        Seventeen till the trial collapses, <br/>
        Nine till the victors return.</p>
    </article>

</section>
</body>
</html>
