<!DOCTYPE html>
<html>
<head>
    <title>BOOM</title>
</head>
<body>
<section>




    <article>
        <%= image_tag "brimstone.jpg", :class=>"nine columns offset-by-two"%>
    </article>


      <article class="haiku six columns offset-by-four clear-both">
        <p>Brambles and Bourbon.<br/>
        Three minutes till the world burns,<br/>
        Seventeen till the trial collapses, <br/>
        Nine till the victors return.</p>
    </article>

</section>
</body>
</html>
