<section>

 <% @posts.each do |post| %>
    <article>
    <h2> <%= post.title %> </h2>
    <p>
        <%= post.content %>
        <small><%= post.citations %> </small>
    </p>

    </article>
 <% end %>
</section>
