<article>

        <h2>
            <%= @post.title %>
        </h2>
        <p>
            <%= markdown(@post.content)  %>
            <%= image_tag(@post.attachments.first.picture.url(:medium)) %>
        </p>

</article>
