<article>

        <h2>
            <%= @post.title %>
        </h2>
        <p>
            <%= markdown(@post.content)  %>
            <%= @post.attachments.each do |at| %>
              <%= image_tag at.picture(:medium) %>
            <% end %>
        </p>

</article>
